@import "../../assets/cssVariables/variables";
 
.infoWrapper{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    flex-direction: column;
}
.filterWrapper{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.filterWrapper input,select{
    margin: 10px;
    height: 40px;
    width: calc(12vw - 10px);
    min-width: 200px;
    border: 3px solid #ddd;
    border-radius: 5px;
}
  
@media only screen and (max-width: 600px) {
  .product{
    width: 100% !important;
  }
  .filterWrapper, input, select{
    width: 100% !important;
  }
}

.productWrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    
    .product{
        display: flex;
        flex-direction: column;
        width: calc(12vw - 10px);
        min-width: 200px;
        justify-content: space-between;
        background: orange;
        align-items: center;
        border-radius: 5px;
        margin-top: 10px;
        margin: 10px;

        .productImg{
            width: 80%;
            object-fit: cover;
            aspect-ratio: 3/2;
            margin-top: 10px;
            border-radius: 10px;
        }
        .productContent{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 80%;
            font-family: $font;
        }
        
    }

}

 