@import "../../assets/cssVariables/variables";

  .modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
  }

  .modal {
    width: 50%;
    height: 50%;
    background: orange;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contentWrapper{
    display: flex;
    justify-content: space-between;
  }

  .closeButton{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background: #34363a;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: 0;
    cursor: pointer;
    outline: 0;
 
    &:before, &:after{
      content: '';
      position: absolute;
      top: 1.2rem;
      left: 0.25rem;
      width: 2rem;
      height: 0.1rem;
      background: #fff;
    }

    &:before{
      transform: rotate(45deg)
    }

    &:after{
      transform: rotate(-45deg)
    }
  }